.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center_project {
  margin-left: auto;
  margin-right: auto;
}

.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130%;
}
a.icon-block {
  color: gray ;
}

.featurette {
  padding-top: 20px;
  overflow: hidden;
}
.featurette-image {
  width: 500px;
  height: auto;
}

.project-image {
  width: 350px;
  height: auto;
  overflow: auto;
  padding-top: 20px;
  
}


